[package]
name = "fontdb"
version = "0.6.2"
authors = ["Evgeniy Reizner <razrfalcon@gmail.com>"]
edition = "2018"
description = "A simple, in-memory font database with CSS-like queries."
documentation = "https://docs.rs/fontdb/"
readme = "README.md"
repository = "https://github.com/RazrFalcon/fontdb"
license = "MIT"
keywords = ["font", "db", "css", "truetype", "ttf"]
categories = ["text-processing"]

[dependencies]
log = "0.4"
memmap2 = { version = "0.3.1", optional = true }
ttf-parser = "0.12.1"

[dev-dependencies]
env_logger = { version = "0.8", default-features = false }

[features]
default = ["fs", "memmap"]
fs = [] # allows local filesystem interactions
memmap = ["fs", "memmap2"] # allows font files memory mapping, greatly improves performance
