[package]
name = "fontdb"
version = "0.2.0"
authors = ["Evgeniy Reizner <razrfalcon@gmail.com>"]
edition = "2018"
description = "A simple, in-memory font database with CSS-like queries."
documentation = "https://docs.rs/fontdb/"
readme = "README.md"
repository = "https://github.com/RazrFalcon/fontdb"
license = "MIT"
keywords = ["font", "db", "css", "truetype", "ttf"]
categories = ["text-processing"]

[dependencies]
log = "0.4"
memmap2 = { version = "0.1", optional = true }
ttf-parser = "0.8"
uuid = { version = "0.8.1", features = ["v4"] }

[dev-dependencies]
env_logger = { version = "0.7", default-features = false }

[features]
default = ["fs"]
fs = ["memmap2"] # allows local filesystem interactions
